p {

    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}

a {


font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}


div.penis {
    
        background-image: url("https://cdn.meme.am/instances/500x/61534011/bad-drawn-stick-figure-guy-nailed-it.jpg");

}


div.boi {
            background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f8/3d/43/f83d43c4668adfbfdde415278d2704ba.jpg");

}
