p {

    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}

a {


font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}


div.penis {
    
        background-image: url("https://cdn.meme.am/instances/500x/61534011/bad-drawn-stick-figure-guy-nailed-it.jpg");

}
