p {

    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}

a {


font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 100px;


}


div.penis {
    
        background-image: url("https://cdn.meme.am/instances/500x/61534011/bad-drawn-stick-figure-guy-nailed-it.jpg");

}


body {
            background-image: url("https://s-media-cache-ak0.pinimg.com/originals/18/3b/85/183b858b0a4e8de0d7de6d3a3e626279--video-games-funny-video-game-memes.jpg");

}
